ul {
  position: relative;
  list-style-type: none;
}

li {
  height: 80px;
  line-height: 80px;
}

nav ul a:hover {
  background-color: rgba(222, 222, 222, 0.2);
}

.dropdown-content li > a, .dropdown-content li > span {
  font-size: 16px;
  color: #000000;
  display: block;
  line-height: 22px;
  padding: 14px 16px;
}

nav {
  background-color: #030303;
  height: 80px;
}

.image {
  text-align: center;
}

.image img {
  width: 70vw;
}

.content {
  width: 70vw;
  margin: 0 auto;
}

.nav-wrapper img {
  height: 80px;
}

.button-collapse {
  display: inline-block;
  float: right;
}
