
.heading {
  font-size: 16px;
  font-weight: bold;
}

.right {
  text-align: right;
}

.down {
  margin: 10px;
}

.sector {
  margin: 40px 20px;
}

.artistsector {
  margin: 60px 20px;
}

.artistsector > div:nth-child(8){
  padding-bottom: 20px;
}

.notice {
  background-color: #D9F0A0;
  color: green;
  margin: 10px auto;
  width: 70vw;
}

.floatright {
  float: right;
}

.x {
  padding-right: 10px;
}

.button-right {
  display: inline-block;
  float: right;
}
