/*.page {
  width: 100vw;
  height: 280px;
  display: flex;
  justify-content: center;
}*/

.login {
  padding: 16px;
  border: 1px solid black;
}

.small {
  font-size: 1rem;
}

.login > div:nth-child(2) {
  padding-bottom: 20px;
  height: 90px;
}

.red {
  color: red;
}
