body {
  background-color: #FFF6E0;
  background-size: contain;
  font: 18px "Open Sans", sans-serif;
  margin: 0;
}

#map {
  background-color: dodgerblue;
  width: 1050px;
  height: 700px;
  margin: 0 auto;
}

#identifier {
  text-align: center;
  margin-top: -80px;
  color: white;
  font-size: 3em;
  height: 60px;
}

console {
  display: block;
  height: 700px;
  width: 1050px;
  margin: 60px auto;
  padding: 20px;
}

search {
  display: block;
  margin: 20px;
  border: 1px solid black;
  padding: 20px;
}

.heading {
  font-size: 34px;
  text-decoration: underline;
  padding: 0 0 20px;
}

info {
  display: block;
  padding: 40px;
}

.title {
  text-align: center;
  margin: 64px 0 42px;
  font-weight: bolder;
  font-size: 2em;
  text-decoration: underline;
}

.lastdiv {
  padding-bottom: 40px;
}


nav {
  text-align: right;
  font-weight: bold;
  font-size: 20px;
  background: url('../images/toolbar-3.jpg');
  background-size: cover;
  height: 60px;
}

nav > a {
  margin: 0 22px;
  text-decoration: none;
  height: 60px;
  line-height: 60px;
}

nav > a:visited {
  color: black;
}

nav > a:hover {
  color: white;
}

input[type=text] {
  height: 40px;
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 10px;
  width: 280px;
  font-size: 16px;
}

input[type=text]:focus {
  border: 1px solid blue;
}

button {
  background-color: #3498db;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
}
