* {
  border: 1px solid red;
}

body {
  background: url('../images/textured-peach-1.jpg');
  background-size: contain;
  font: 1em "Open Sans", sans-serif
}

#container {
  border: 1px solid blue;
  position: relative;
}

#map {
/*  position: absolute;*/
  background-color: dodgerblue;
  width: 1050px;
  height: 700px;
  margin: 0 auto;
}

#identifier {
  margin: 0 auto;
  text-align: center;
/*  width: 1050px;*/
  left: 0px;
  color: white;
  font-size: 3em;
  height: 60px;
}

#console {
  height: 60vh;
  width: 100vw;
}

nav {
  text-align: right;
  font-weight: bold;
  font-size: 2em;
}

input[type=text] {
  height: 30px;
  margin-top: 30px;
  margin-left: 30px;
}

input[type=text]:focus {
  border: 3px solid blue;
}
