/* for sign-up form */

.form {
  width: 70%;
  margin: 0 auto;
}

.center {
  text-align: center;
}

.space-above {
  padding-top: 30px;
}

label {
  font-size: 22px;
}

select {
  width: 224px;
}

textarea {
  width: 60vw;
  height: 150px;
}

td {
  padding: 8px;
  line-height: 60px;
}





