/* for sign-up form */

.form {
  width: 70%;
  margin: 0 auto;
}

/*.form-row {
  padding: 2vh 0 0 0;
}*/

label {
  font-size: 22px;
}


select {
  width: 224px;
}

textarea {
  width: 60vw;
  height: 150px;
}

td {
  padding: 8px;
  line-height: 60px;
}





