* {
  border: 1px solid red;
}

body {
/*  background: url('../images/textured-peach-1.jpg');*/
  background-color: #F2F2F2;
  background-size: contain;
  font: 18px "Open Sans", sans-serif;
  margin: 0;
}

#map {
  background-color: dodgerblue;
  width: 1050px;
  height: 700px;
  margin: 0 auto;
}

#identifier {
  text-align: center;
  margin-top: -80px;
  color: white;
  font-size: 3em;
  height: 60px;
}

console {
  display: block;
  height: 60vh;
  width: 80vw;
  margin: 0 auto;
}

.strong {
  text-align: center;
  margin: 64px 0;
  font-weight: bolder;
  font-size: 2em;
  text-decoration: underline;
}

nav {
  text-align: right;
  font-weight: bold;
  font-size: 20px;
  background: url('../images/toolbar-3.jpg');
  background-size: cover;
  height: 60px;
}

nav > a {
  margin: 0 22px;
  text-decoration: none;
  height: 60px;
  line-height: 60px;
}

nav > a:visited {
  color: black;
}

nav > a:hover {
  color: white;
}

search {
  display: block;
  margin: 20px;
}

input[type=text] {
  height: 30px;
  margin-top: 30px;
  margin-left: 30px;
}

input[type=text]:focus {
  border: 3px solid blue;
}

/* for sign-up form */

.form {
  width: 80%;
  margin: 0 auto;
}

.form-row {
  padding: 2vh 0 0 0;
/*  display: flex;
  justify-content: space-around;*/
}



label, textarea, button {
  margin: 0 0 0 4px;
}


