ul {
  position: relative;
  list-style-type: none;
}

li {
  height: 80px;
  line-height: 80px;
}

nav ul a:hover {
  background-color: rgba(222, 222, 222, 0.2);
}

.dropdown-content li > a, .dropdown-content li > span {
  font-size: 16px;
  color: #000000;
  display: block;
  line-height: 22px;
  padding: 14px 16px;
}

nav {
  background-color: #030303;
  height: 80px;
}

.image {
  text-align: center;
}

.image img {
  width: 70vw;
}

.content {
  width: 70vw;
  margin: 0 auto;
}

.nav-wrapper img {
  height: 80px;
}

.button-collapse {
  display: inline-block;
  float: right;
}


.heading {
  font-size: 16px;
  font-weight: bold;
}

.right {
  text-align: right;
}

.down {
  margin: 10px;
}

.sector {
  margin: 40px 20px;
}

.artistsector {
  margin: 60px 20px;
}

.artistsector > div:nth-child(8){
  padding-bottom: 20px;
}

.notice {
  background-color: #D9F0A0;
  color: green;
  margin: 10px 20px;
}

.floatright {
  float: right;
}

.button-right {
  display: inline-block;
  float: right;
}

.page {
  width: 100vw;
  height: 280px;
  display: flex;
  justify-content: center;
}

.login {
  padding: 16px;
  border: 1px solid black;
}

.login > div:nth-child(2) {
  padding-bottom: 20px;
  height: 90px;
}

.red {
  color: red;
}

* {
  border: 1px solid red;
}

body {
  background-color: #FFFFFF;
  margin: 0;
}

#map {
  background-color: dodgerblue;
  width: 85%;
  height: 85%;
  margin: 0 auto;
}

#identifier {
  text-align: center;
  margin-top: -40px;
  color: white;
  font-size: 2em;
  height: 60px;
}

console {
  display: block;
  height: 10%;
  width: 85%;
  margin: 5% auto;
  padding: 20px;
}

.search {
  display: block;
  margin: 20px;
  border: 1px solid black;
  padding: 20px 20px 0px;
}

.input {
  display: flex;
  align-items: center;
  margin
}

.heading {
  font-size: 2rem;
  text-decoration: underline;
  padding: 0 0 1%;
}

info {
  display: block;
  padding: 3%;
}

.title {
  text-align: left;
  margin: 64px 0 42px;
  font-weight: bolder;
  font-size: 2rem;
}

.lastdiv {
  padding-bottom: 8%;
}

/*nav > a {
  margin: 0 22px;
  text-decoration: none;
  height: 60px;
  line-height: 60px;
  color: black;
}

nav > a:visited {
  color: black;
}

nav > a:hover {
  color: white;
}*/

/*input[type=text] {
  height: 40px;
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 10px;
  width: 280px;
  font-size: 16px;
}*/

/*input[type=password] {
  height: 40px;
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 10px;
  width: 280px;
  font-size: 16px;
}*/

/*input[type=text]:focus {
  border: 1px solid blue;
}*/

/*button {
  background-color: #3498db;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
}*/

/* for sign-up form */

.form {
  width: 70%;
  margin: 0 auto;
}

.center {
  text-align: center;
}

label {
  font-size: 22px;
}


select {
  width: 224px;
}

textarea {
  width: 60vw;
  height: 150px;
}

td {
  padding: 8px;
  line-height: 60px;
}





