<div class="title">About ZO Magazine</div>

<div class="image">
  <img src="../images/zo-{{vm.image}}.jpg" />
</div>

<div class="content">
  <p>
    The primary mission of ZO Magazine is to join with the already vibrant international creative community and allow the naturally occurring transformative energy found in abstract connections to organically grow.
    We are currently seeking artists from every country for our flagship global art event. We plan on broadcasting live entertainment in half-hour segments, moving from time zone to time zone around the world.
  </p>
  <p>
    If interested in being part of this event, please sign up at the link above! To view currently registered artists, please visit our interactive map.
  </p>
</div>
