<div class="notice" ng-repeat="alert in vm.artistsAlerts track by $index">Artist has been approved!<span class="floatright x" ng-click="vm.popAlert()">X</span></div>


<div class="container topmargin">
  <div class="row">
    <div class="col m8 s12 space-above">
      Search Artists: &nbsp;&nbsp;&nbsp; <input class="smaller" ng-model="vm.searchText">
    </div>
  </div>
  <div><span class="heading">Pending Artists</span></div>
  <div class="row" ng-repeat="artist in vm.pendingArtists | filter:vm.searchText track by $index">
    <div class="col s6 m6">
      <div><strong>Name:</strong> {{artist.f_name}}
      {{artist.l_name}}</div>
      <div><strong>Phone:</strong> {{artist.phone}}</div>
      <div><strong>Email:</strong> {{artist.email}}</div>
      <div><strong>Website:</strong> {{artist.website}}</div>
      <div><strong>City:</strong> {{artist.city}}</div>
      <div><strong>Country:</strong> {{artist.country}}</div>
      <div><strong>Medium:</strong> {{artist.medium}}</div>
      <div>
        <strong>Biography:</strong>
        {{artist.biography}}
      </div>
    </div>
    <div class="col s12 m3 buttons">
      <button class="btn waves-effect waves-light" ng-click="vm.approveArtist(artist)">Approve</button>
    </div>
    <div class="col s12 m3 buttons">
      <button class="btn waves-effect waves-red" ng-click="vm.rejectArtist(artist)">Reject</button>
    </div>
  </div>
</div>

<div class="container topmargin">
<div><span class="heading">Approved Artists</span></div>
<div ng-repeat="artist in vm.approvedArtists | filter:vm.searchText track by $index" ng-if="artist.approved == 1">{{artist.f_name}} {{artist.l_name}}</div>
</div>

<div class="container topmargin">
<div><span class="heading">Rejected Artists</span><button class="btn floatright" ng-click="vm.empty()">Empty All</button></div>

<div ng-repeat="artist in vm.rejectedArtists | filter:vm.searchText track by $index" ng-if="artist.approved == 2">{{artist.f_name}} {{artist.l_name}}</div>
</div>
