Welcome, person!

<div ng-repeat="alert in vm.artistsAlerts track by $index">Artist has been approved!<span ng-click="vm.popAlert()">X</span></div>

<div><strong>Pending Artists</strong></div>
<div ng-repeat="artist in vm.pendingArtists track by $index">
  <div>
  {{artist.f_name}}
  {{artist.l_name}}
  </div>
  {{artist.phone}}
  {{artist.email}}
  {{artist.website}}
  {{artist.city}}
  {{artist.country}}
  {{artist.medium}}
  {{artist.biography}}
  <button ng-click="vm.approveArtist(artist)">Approve Artist</button>
  <button ng-click="vm.rejectArtist(artist)">Reject Artist</button>
</div>

<div><strong>Approved Artists</strong></div>
<div ng-repeat="artist in vm.approvedArtists track by $index" ng-if="artist.approved == 1">{{artist.f_name}}</div>


<div><strong>Rejected Artists</strong></div>
<div ng-repeat="artist in vm.rejectedArtists track by $index" ng-if="artist.approved == 2">{{artist.f_name}}</div>
