<div class="notice" ng-repeat="alert in vm.artistsAlerts track by $index">Artist has been approved!<span class="floatright" ng-click="vm.popAlert()">X</span></div>

<div class="sector">
  <div class="heading">Pending Artists</div>
  <div class="artistsector" ng-repeat="artist in vm.pendingArtists track by $index">
      <div>Name: {{artist.f_name}}
      {{artist.l_name}}</div>
      <div>Phone: {{artist.phone}}</div>
      <div>Email: {{artist.email}}</div>
      <div>Website: {{artist.website}}</div>
      <div>City: {{artist.city}}</div>
      <div>Country: {{artist.country}}</div>
      <div>Medium: {{artist.medium}}</div>
      <div>
        Biography:
        {{artist.biography}}
      </div>
      <div>
        <button ng-click="vm.approveArtist(artist)">Approve Artist</button>
        <button ng-click="vm.rejectArtist(artist)">Reject Artist</button>
      </div>
  </div>
</div>

<div class="sector">
<div class="heading">Approved Artists</div>
<div ng-repeat="artist in vm.approvedArtists track by $index" ng-if="artist.approved == 1">{{artist.f_name}} {{artist.l_name}}</div>
</div>

<div class="sector">
<div class="heading">Rejected Artists<button class="button-right" ng-click="vm.empty()">Empty All</button></div>
<div ng-repeat="artist in vm.rejectedArtists track by $index" ng-if="artist.approved == 2">{{artist.f_name}} {{artist.l_name}}</div>
</div>
