  <div class="title">ZO Artists' Map</div>
  <div id="map">
  </div>
  <div id="identifier">
    {{vm.countryMap}}
  </div>

  <console>
    <div class="search">
      <div>
        Click on a country or search for it below:
      </div>
      <input type="text" ng-model="vm.searchInput" ng-keypress="vm.enter($event)"><button class="btn waves" ng-click="vm.submitSearch(vm.searchInput)">Submit</button>
      <div>{{vm.error}}</div>
    </div>
      <div></div>
      <div class="heading">{{vm.selectedCountry | uppercase}}</div>
    <info>
      <div ng-repeat="artist in vm.countryArtists track by $index" ng-if="artist.approved">
        <div><strong>{{artist.medium | uppercase}}</strong></div>
        <div>{{artist.f_name}} {{artist.l_name}}</div>
        <div>{{artist.city}}</div>
        <div>{{artist.website}}</div>
        <div class="lastdiv">{{artist.biography}}</div>
      </div>
    </info>
  </console>

