<nav>
  <div class="nav-wrapper z-depth-2">
    <span class="brand-logo left"><img src="images/zo-logo.png"></span>
    <a href="#" data-activates="dropdown" class="right button-collapse dropdown-button"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a ui-sref="aboutus">ABOUT US</a></li>
      <li><a ui-sref="map">ARTISTS' MAP</a></li>
      <li><a ui-sref="signup">SIGN UP</a></li>
    </ul>
    <ul class="dropdown-content" id="dropdown">
      <li><a ui-sref="aboutus">ABOUT US</a></li>
      <li><a ui-sref="map">ARTISTS' MAP</a></li>
      <li><a ui-sref="signup">SIGN UP</a></li>
    </ul>
  </div>
</nav>
