
<div class="container" ng-if="vm.blankForm">
  <div class="title">
    Sign Up
  </div>
  <div>
    Interested in working with ZO? Submit your information below!
  </div>
  <div class="row">
    <div class="input-field col m6 s12">
      <input id="first_name" type="text" class="field" ng-model="vm.newArtist.f_name">
      <label for="first_name">First Name</label>
    </div>
    <div class="input-field col m6 s12">
      <input id="last_name" type="text" class="field" ng-model="vm.newArtist.l_name">
      <label for="last_name">Last Name</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col m6 s12">
      <input id="phone" type="text" class="field" ng-model="vm.newArtist.phone">
      <label for="phone">Phone</label>
    </div>
    <div class="input-field col m6 s12">
      <input id="email" type="text" class="field" ng-model="vm.newArtist.email">
      <label for="email">Email</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col m6 s12">
      <label>Website</label>
      <input type="text" class="field" ng-model="vm.newArtist.website">
    </div>
    <div class="input-field col m6 s12">
      <select class="browser-default" ng-model="vm.newArtist.medium">
        <option value="" disabled selected>Primary Medium</option>
        <option value="painter" selected>Painter</option>
        <option value="photographer">Photographer</option>
        <option value="poet">Poet</option>
        <option value="musician">Musician</option>
        <option value="sculptor">Sculptor</option>
        <option value="designer">Designer</option>
        <option value="filmmaker">Filmmaker</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="input-field col m6 s12">
      <label>City</label>
      <input type="text" class="field" ng-model="vm.newArtist.city">
    </div>
    <div class="input-field col m6 s12">
      <select class="browser-default" ng-model="vm.newArtist.country">
        <option value="" disabled selected>Country of Origin</option>
        <option value='United Arab Emirates' selected>United Arab Emirates</option>
        <option value='Afghanistan'>Afghanistan</option>
        <option value='Albania'>Albania</option>
        <option value='Armenia'>Armenia</option>
        <option value='Angola'>Angola</option>
        <option value='Argentina'>Argentina</option>
        <option value='Austria'>Austria</option>
        <option value='Australia'>Australia</option>
        <option value='Azerbaijan'>Azerbaijan</option>
        <option value='Bosnia'>Bosnia</option>
        <option value='Bangladesh'>Bangladesh</option>
        <option value='Belgium'>Belgium</option>
        <option value='Burkina Faso'>Burkina Faso</option>
        <option value='Bulgaria'>Bulgaria</option>
        <option value='Burundi'>Burundi</option>
        <option value='Benin'>Benin</option>
        <option value='Brunei Darussalam'>Brunei Darussalam</option>
        <option value='Bolivia'>Bolivia</option>
        <option value='Brazil'>Brazil</option>
        <option value='Bahamas'>Bahamas</option>
        <option value='Bhutan'>Bhutan</option>
        <option value='Botswana'>Botswana</option>
        <option value='Belarus'>Belarus</option>
        <option value='Belize'>Belize</option>
        <option value='Canada'>Canada</option>
        <option value='Democratic Republic of Congo'>Democratic Republic of Congo</option>
        <option value='Central African Republic'>Central African Republic</option>
        <option value='Republic of Congo'>Republic of Congo</option>
        <option value='Switzerland'>Switzerland</option>
        <option value='Côte d\'Ivoire'>Côte d'Ivoire</option>
        <option value='Chile'>Chile</option>
        <option value='Cameroon'>Cameroon</option>
        <option value='China'>China</option>
        <option value='Colombia'>Colombia</option>
        <option value='Costa Rica'>Costa Rica</option>
        <option value='Cuba'>Cuba</option>
        <option value='Cyprus'>Cyprus</option>
        <option value='Czech Republic'>Czech Republic</option>
        <option value='Germany'>Germany</option>
        <option value='Djibouti'>Djibouti</option>
        <option value='Denmark'>Denmark</option>
        <option value='Dominican Republic'>Dominican Republic</option>
        <option value='Algeria'>Algeria</option>
        <option value='Ecuador'>Ecuador</option>
        <option value='Estonia'>Estonia</option>
        <option value='Egypt'>Egypt</option>
        <option value='Western Sahara'>Western Sahara</option>
        <option value='Eritrea'>Eritrea</option>
        <option value='Spain'>Spain</option>
        <option value='Ethiopia'>Ethiopia</option>
        <option value='Falkland Islands'>Falkland Islands</option>
        <option value='Finland'>Finland</option>
        <option value='Fiji'>Fiji</option>
        <option value='France'>France</option>
        <option value='Gabon'>Gabon</option>
        <option value='United Kingdom'>United Kingdom</option>
        <option value='Georgia'>Georgia</option>
        <option value='French Guiana'>French Guiana</option>
        <option value='Ghana'>Ghana</option>
        <option value='Greenland'>Greenland</option>
        <option value='Gambia'>Gambia</option>
        <option value='Guinea'>Guinea</option>
        <option value='Equatorial Guinea'>Equatorial Guinea</option>
        <option value='Greece'>Greece</option>
        <option value='Guatemala'>Guatemala</option>
        <option value='Guinea-Bissau'>Guinea Bissau</option>
        <option value='Guyana'>Guyana</option>
        <option value='Honduras'>Honduras</option>
        <option value='Croatia'>Croatia</option>
        <option value='Haiti'>Haiti</option>
        <option value='Hungary'>Hungary</option>
        <option value='Indonesia'>Indonesia</option>
        <option value='Ireland'>Ireland</option>
        <option value='Israel'>Israel</option>
        <option value='India'>India</option>
        <option value='Iraq'>Iraq</option>
        <option value='Iran'>Iran</option>
        <option value='Iceland'>Iceland</option>
        <option value='Italy'>Italy</option>
        <option value='Jamaica'>Jamaica</option>
        <option value='Jordan'>Jordan</option>
        <option value='Japan'>Japan</option>
        <option value='Kenya'>Kenya</option>
        <option value='Kyrgyzstan'>Kyrgyzstan</option>
        <option value='Cambodia'>Cambodia</option>
        <option value='North Korea'>North Korea</option>
        <option value='South Korea'>South Korea</option>
        <option value='Kosovo'>Kosovo</option>
        <option value='Kuwait'>Kuwait</option>
        <option value='Kazakhstan'>Kazakhstan</option>
        <option value="Lao People's Democratic Republic">Lao People's Democratic Republic</option>
        <option value='Lebanon'>Lebanon</option>
        <option value='Sri Lanka'>Sri Lanka</option>
        <option value='Liberia'>Liberia</option>
        <option value='Lesotho'>Lesotho</option>
        <option value='Lithuania'>Lithuania</option>
        <option value='Luxembourg'>Luxembourg</option>
        <option value='Latvia'>Latvia</option>
        <option value='Libya'>Libya</option>
        <option value='Morocco'>Morocco</option>
        <option value='Moldova'>Moldova</option>
        <option value='Montenegro'>Montenegro</option>
        <option value='Madagascar'>Madagascar</option>
        <option value='Macedonia'>Macedonia</option>
        <option value='Mali'>Mali</option>
        <option value='Myanmar'>Myanmar</option>
        <option value='Mongolia'>Mongolia</option>
        <option value='Mauritania'>Mauritania</option>
        <option value='Malawi'>Malawi</option>
        <option value='Mexico'>Mexico</option>
        <option value='Malaysia'>Malaysia</option>
        <option value='Mozambique'>Mozambique</option>
        <option value='Namibia'>Namibia</option>
        <option value='New Caledonia'>New Caledonia</option>
        <option value='Niger'>Niger</option>
        <option value='Nigeria'>Nigeria</option>
        <option value='Nicaragua'>Nicaragua</option>
        <option value='Netherlands'>Netherlands</option>
        <option value='Norway'>Norway</option>
        <option value='Nepal'>Nepal</option>
        <option value='New Zealand'>New Zealand</option>
        <option value='Oman'>Oman</option>
        <option value='Panama'>Panama</option>
        <option value='Peru'>Peru</option>
        <option value='Papau New Guinea'>Papau New Guinea</option>
        <option value='Philippines'>Philippines</option>
        <option value='Pakistan'>Pakistan</option>
        <option value='Poland'>Poland</option>
        <option value='Puerto Rico'>Puerto Rico</option>
        <option value='Palestinian Territories'>Palestinian Territories</option>
        <option value='Portugal'>Portugal</option>
        <option value='Paraguay'>Paraguay</option>
        <option value='Qatar'>Qatar</option>
        <option value='Romania'>Romania</option>
        <option value='Serbia'>Serbia</option>
        <option value='Russia'>Russia</option>
        <option value='Rwanda'>Rwanda</option>
        <option value='Saudi Arabia'>Saudi Arabia</option>
        <option value='Solomon Islands'>Solomon Islands</option>
        <option value='Sudan'>Sudan</option>
        <option value='Sweden'>Sweden</option>
        <option value='Slovenia'>Slovenia</option>
        <option value='Svalbard and Jan Mayen'>Svalbard and Jan Mayen</option>
        <option value='Slovakia'>Slovakia</option>
        <option value='Sierra Leone'>Sierra Leone</option>
        <option value='Senegal'>Senegal</option>
        <option value='Somalia'>Somalia</option>
        <option value='Suriname'>Suriname</option>
        <option value='South Sudan'>South Sudan</option>
        <option value='El Salvador'>El Salvador</option>
        <option value='Syria'>Syria</option>
        <option value='Swaziland'>Swaziland</option>
        <option value='Chad'>Chad</option>
        <option value='French Southern and Antarctic Lands'>French Southern and Antarctic Lands</option>
        <option value='Togo'>Togo</option>
        <option value='Thailand'>Thailand</option>
        <option value='Tajikistan'>Tajikistan</option>
        <option value='Timor-Leste'>Timor-Leste</option>
        <option value='Turkmenistan'>Turkmenistan</option>
        <option value='Tunisia'>Tunisia</option>
        <option value='Turkey'>Turkey</option>
        <option value='Trinidad and Tobago'>Trinidad and Tobago</option>
        <option value='Taiwan'>Taiwan</option>
        <option value='Tanzania'>Tanzania</option>
        <option value='Ukraine'>Ukraine</option>
        <option value='Uganda'>Uganda</option>
        <option value='United States'>United States</option>
        <option value='Uruguay'>Uruguay</option>
        <option value='Uzbekistan'>Uzbekistan</option>
        <option value='Venezuela'>Venezuela</option>
        <option value='Vietnam'>Vietnam</option>
        <option value='Vanuatu'>Vanuatu</option>
        <option value='Yemen'>Yemen</option>
        <option value='South Africa'>South Africa</option>
        <option value='Zambia'>Zambia</option>
        <option value='Zimbabwe'>Zimbabwe</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <textarea class="materialize-textarea" ng-model="vm.newArtist.biography"></textarea>
      <label>Short biography you'd like to have displayed:</label>
    </div>
  </div>
  <button class="btn" ng-click="vm.postArtist()">Submit</button>
</div>

<div class="center" ng-if="!vm.blankForm">Thanks for signing up! We'll be in touch with you soon.</div>
